@import url(home.css);
@import url(about.css);
@import url(contact.css);
@import url(event-detail.css);
@import url(events.css);
@import url(gallery.css);
@import url(main.css);
@import url(uicons-brands.css);

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --font-family-league: "League Spartan";
  --primary-color: #ccad60;
  --secondary-color: #005b4d;
  --white-color: #f4f4f4;
  --text-dark: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-league), serif;
  color: var(--text-dark);
}

/* Links */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  color: var(--white-color);
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--secondary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Start Top Bar Styling */

header {
  font-size: 14px;
  color: var(--text-dark);
  display: initial; /* For fixed menu */
}

header .top-bar {
  background: var(--white-color);
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

header .top-bar .contact-info {
  font-size: 0.9em;
  color: var(--text-dark);
}

header .container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top-bar .inscription .btn {
  font-size: 0.9em;
  padding: 6px 10px;
}

/* End Top Bar Style*/

/* Start Main Header Styling */
header .main-header {
  background: white;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .main-header .logo img {
  max-width: 150px;
}

header .main-header .nav-links {
  display: flex;
  gap: 20px;
}

header .main-header .nav-links li a {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

header .main-header .nav-links li a:hover,
header .main-header .nav-links li a.active {
  background: var(--secondary-color);
  color: white;
}

header .main-header .header-buttons {
  display: flex;
  gap: 10px;
}

header .main-header .burger-menu {
  display: none;
  cursor: pointer;
}

header .main-header .burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

header .main-header .burger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 5px);
}

header .main-header .burger-menu.active .line:nth-child(2) {
  opacity: 0;
}

header .main-header .burger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5px);
}

/* End Main Header Styling */

/*Start footer styling*/
.footer {
  background-color: black;
  color: white;
  padding: 40px 20px 0;
  border-top: 2px solid var(--primary-color);
  position: relative;
}

.footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/map-bg.png") no-repeat fixed center;
  opacity: 0.3;
  pointer-events: none; /* Ensures clicks pass through this layer */
}

.footer .footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.footer .footer-content .logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer .footer-content .footer-title {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.footer .footer-content .links-col,
.footer .footer-content .social-col {
  display: flex;
  flex-direction: column;
}

.footer .footer-content .footer-links,
.footer .footer-content .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .footer-content .footer-links li a,
.social-links li a {
  color: white;
}

.footer .footer-content .footer-links li a:hover,
.footer .footer-content .social-links li a:hover {
  text-decoration: underline;
}

footer .footer-content .social-links i {
  font-size: 1.2em;
}

.footer .footer-content .facebook-icon i {
  color: #1877f2;
}

.footer .footer-content .twitter-icon i {
  color: #1da1f2;
}

.footer .footer-content .instagram-icon i {
  background: linear-gradient(
    135deg,
    #feda75,
    #fcb043,
    #d6249f,
    #e95950
  ); /* Gradient colors */
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.footer .footer-content .linkedin-icon i {
  color: #0077b5;
}

.footer .footer__copyright {
  margin-top: 40px;
  border-top: 1px solid var(--primary-color);
  text-align: center;
}

/*End footer style*/

@media (max-width: 800px) {
  header .main-header .nav-links {
    gap: 0;
  }
}

@media (max-width: 768px) {
  header .main-header .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 100px;
    left: 0;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
  }

  header .main-header .nav-links.active {
    display: flex;
  }

  header .main-header .burger-menu {
    display: block;
  }

  .footer .footer-content {
    grid-template-columns: 1fr;
  }

  .footer .footer-content .logo {
    width: 120px;
  }

  .footer-content .footer-content .social-icon {
    font-size: 1.3em;
  }
}
