@import "style.css";

.events-intro {
    background: url("../../assets/images/575a1ed4-6159-40d3-a54e-ca54ba54c3fd.webp") center no-repeat;
    color: var(--white-color);
    text-align: center;
    width: 100%;
    height: 81vh;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-size: cover;
    position: relative;
}

.events-intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}

.events-intro .container {
    position: relative;
}

.events-intro h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.events-intro p {
    font-size: 1.3rem;
    line-height: 1.5;
}

/* Event List Styles */
.events-list {
    background: var(--white-color);
    padding: 2rem 0;
}

.event {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.event-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.event-details {
    margin-left: 1rem;
    border-left: 5px solid var(--primary-color);
    padding: 1.5rem;
}


.event h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.event-date,
.event-location {
    font-size: 1rem;
    color: var(--text-dark);
    margin: 0.3rem 0;
    font-weight: 600;
}

.event-description {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-dark);
}

.event .btn {
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
}


.filter-section {
    background: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 0.9rem;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 50%;
    min-width: 200px;
}

button.btn {
    border: none;
    cursor: pointer;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
}

.pagination .btn-primary {
    width: max-content;
}

.btn-primary[disabled] {
    background-color: #ddd;
    cursor: not-allowed;
}

.btn-primary.active {
    background-color: var(--secondary-color);
}


@media (max-width: 800px) {
    .filter-form {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    .event {
        flex-direction: column;
    }

    .event-image {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
    }
}