/* Event Header Styles */
.myowen .event-header {
    background: url("../images/575a1ed4-6159-40d3-a54e-ca54ba54c3fd.webp") center no-repeat;
    color: var(--white-color);
    text-align: center;
    width: 100%;
    height: 81vh;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-size: cover;
    position: relative;
}

.myowen .event-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}

.myowen .event-header h1 {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.myowen .event-header p {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 300;
}

.myowen .about-event {
    text-align: center;
    padding: 4rem 0;
}

.myowen .about-event h3 {
    font-size: 2em;
    margin-bottom: 2rem;
}

.myowen .about-event p {
    max-width: 600px;
    line-height: 1.2rem;
    margin: 0 auto 1rem;
    color: var(--text-dark);
}

.myowen .about-event blockquote {
    font-style: italic;
}

.myowen .myowen .circuit-details {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--white-color);
}

.myowen .myowen .circuit-details h3 {
    font-size: 2rem;
    margin-bottom: 1.1rem;
    color: var(--primary-color);
}

.myowen .myowen .circuit-details p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.myowen .myowen .circuit-detailit.circuit-places h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.myowen .myowen .circuit-detailit.circuit-places ul {
    list-style: inside;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: normal;
}

.myowen .circuit {
    width: 100%;
}

.myowen .circuit .circuit-info {
    padding: 4rem 0;
}

.myowen .circuit .circuit-info .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.myowen .circuit .circuit-info:nth-child(2n) {
    background-color: var(--white-color);
}

.myowen .circuit .circuit-info:nth-child(2n) .container {
    flex-direction: row-reverse;
}

.myowen .circuit .circuit-info:nth-child(2n) h4 {
    color: var(--primary-color);
}

.myowen .circuit .circuit-info img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}

.myowen .circuit .circuit-info div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.myowen .circuit .circuit-info div h4 {
    font-size: 2em;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.myowen .circuit .circuit-info div p {
    text-align: justify;
    line-height: 1.2rem;
}

@media (max-width: 768px) {
    .myowen .circuit .circuit-info .container {
        flex-direction: column;
        align-items: center;
    }

    .myowen .circuit .circuit-info:nth-child(2n) .container {
        flex-direction: column-reverse;
        align-items: center;
    }
}