/* Hero Section */
.myowen .gallery-hero-section {
    background: url("../images/sahara-erg-chebbi.webp") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 81vh;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.myowen .gallery-hero-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    z-index: 1;
}

.myowen .gallery-hero-content {
    position: relative;
    z-index: 2;
    animation: slide-up 1s ease-in-out;
    color: var(--white-color);
}

.myowen .gallery-hero-content h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.myowen .gallery-hero-content p {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.myowen .gallery-hero-content .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
}


/* Animations */
@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.myowen .main-gallery-section {
    padding: 4rem 2rem;
}

.myowen .main-gallery-section .section-title {
    font-size: 2.5rem;
    text-decoration: underline;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.myowen .main-gallery-section .section-para {
    margin-bottom: 1em;
    max-width: 600px;
    font-size: 1em;
}

.myowen .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    align-items: stretch;
}

.myowen .gallery-item {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}


.myowen .gallery-item:nth-child(2n) {
    flex-direction: column-reverse;
}


.myowen .gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.myowen .gallery-item img {
    width: 100%;
    display: block;
    object-fit: cover;
    flex-grow: 1;
}


.myowen .gallery-info {
    padding: 1.5rem;
    background-color: var(--primary-color);
    text-align: center;
}

.myowen .gallery-info h3 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
    font-weight: bold;
}